* {
    margin: 0;
    padding: 0;
    background: #dae0e6;
}
.fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dae0e6;
    
}

.page {
    height: auto;
    padding-bottom: 100px;
}

.contentMain {
    position: relative;
    top: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sideLeft {
    position: fixed;
    left: 0;
    top: 60px;
    width: 15%;
    height: 100vh;
    float: left;
}

.sideRight {
    width: 41%;
    float: right;
    margin: 0 0 0 30vh;
}