@page "/"

<PageTitle>Forum</PageTitle>

<div class="page">
    <HeaderMenu/>
    <div class="contentMain">
        <div class="sideLeft">
            <NavMenu></NavMenu>
        </div>
        
        <div class="sideRight">
            <PostContent RegUser="null" SortName="empty"></PostContent>
        </div>
        
    </div>
</div>