@page "/"
@using Forum.Services
@inject BehaviourService BehaviourService 

<PageTitle>Forum</PageTitle>

<div class="page">
    <HeaderMenu/>
    <div class="contentMain">
        <div class="sideLeft">
            <NavMenu></NavMenu>
        </div>
        
        <div class="sideRight">
            <PostContent RegUser="null" SortName=""></PostContent>
        </div>
        
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        BehaviourService.SelectInterest = "";
    }
}