@page "/"
@using Forum.Services
@inject BehaviourService BehaviourService 

<PageTitle>Forum</PageTitle>

<div class="page">
    <HeaderMenu/>
    <div class="contentMain">
        <div class="sideLeft">
            <NavMenu></NavMenu>
        </div>
        
        <div class="sideRight">
           @* <PostContent Filter="@Filter" RegUser="null" SortName=""></PostContent> *@
          <PostContent Filter="@BehaviourService.SelectInterest" RegUser="null" SortName=""></PostContent>
        </div>
        
    </div>
</div>


@code {
    private string Filter { get; set; }
    protected override void OnInitialized()
    {
        BehaviourService.SelectInterest = "";
    }

    public void OnFilterChange(string newValue)
    {
        Filter = newValue;
    }
}