@page "/profile"
@using Forum.MongoDB
@inject Forum.MongoDB.UserDbConnection userConnect
@using Microsoft.VisualBasic

<div class="page">
    <HeaderMenu/>
    <div class="contentMain">
        <div class="sideLeft">
            <NavMenu></NavMenu>
        </div>
        
        <div class="sideCenter">
            <CreatePost></CreatePost>
            <PostContent RegUser="userConnect.isLoginUser" SortName="not"></PostContent>
        </div>
        
        <div class="sideRight">
            <ProfileUser CrntUser="userConnect.isLoginUser"></ProfileUser>
        </div>
    </div>
</div>


