@page "/profile"
@using Forum.MongoDB
@using Forum.Services
@inject Forum.MongoDB.UserDbConnection userConnect
@using Microsoft.VisualBasic
@inject BehaviourService BehaviourService

<div class="page">
    <HeaderMenu/>
    <div class="contentMain">
        <div class="sideLeft">
            <NavMenu onDataChanged="@OnFilterChanged"></NavMenu>
        </div>
        
        <div class="sideCenter">
            <CreatePost onDataChanged="@OnDataChanged"></CreatePost>
            <PostContent Filter="@Filter" DataChange="@ValueChange" RegUser="userConnect.isLoginUser" SortName="profile" IsProflie="true"></PostContent>
        </div>
        
        <div class="sideRight">
            <ProfileUser CrntUser="userConnect.isLoginUser"></ProfileUser>
        </div>
    </div>
</div>

@code
{
    private string Filter { get; set; }
    private string ValueChange { get; set; }
    protected override void OnInitialized()
    {
        BehaviourService.SelectInterest = "profile";
        BehaviourService.isProfile = true;
    }
    
    public void OnFilterChanged(string newValue)
    {
        Filter = newValue;
        StateHasChanged();
    }
    
    private void OnDataChanged(string newValue)
    {
        ValueChange = newValue;
        StateHasChanged();
    }
}


