@page "/profile"
@using Microsoft.VisualBasic

<div class="page">
    <HeaderMenu/>
    <div class="contentMain">
        <div class="sideLeft">
            <NavMenu></NavMenu>
        </div>
        
        <div class="sideCenter">
            <CreatePost></CreatePost>
            <br/>
            <br/>
            <br/>
            
            <PostContent></PostContent>
        </div>
        
        <div class="sideRight">
          <ProfileUser></ProfileUser>
        </div>
    </div>
</div>