* {
  margin: 0;
  padding: 0;
  background: #dae0e6;

}

.page {
  height: auto;
  padding-bottom: 100px;
  overflow-y: hidden;
}

.contentMain {
  position: relative;
  flex-wrap: nowrap;
  top: 70px;
  width: 95%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  
}

.sideLeft {
  
  width: 20%;
  margin-top: -10px;
  height: 100vh;
  float: left;
}

.sideCenter {
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 41%;
  float: right;
  margin: 10px 0 0 10vh;
 
}

.sideRight {

  display: block;
  height: 500px;
  margin-top: 10px;
}