* {
    margin: 0;
    padding: 0;
    color: #24292f;
}


.background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;
}


.field {
    position: relative;
    display: flex;
    margin: auto;
    top: 70px;
    width: 100vh;
    height: 1000px;
    flex-direction: column;
    background: white;
    overflow-y: scroll;
}

.field::-webkit-scrollbar {
    width: 0;
}

.content1 {
    display: flex;
    background: #f8f9fa;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: solid #c9c9c9 1px;
}



.content1 button {
    background: #f8f9fa;
    border: none;
}

.content1 button:hover {
    color: #54646c;
}


.postCard {
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    margin-top: -1px;
    white-space: normal;
   
   
}


.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background: #f8f9fa;
    width: 40px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #ffffff;
    width: 100%;
}

.btnLike {
    background: #f8f9fa;
    border: none;
}

.btnLike img {
    width: 20px;
    border: none;
}

.rowCard1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: normal;
  

    height: 50px
}

.rowCard1 .side1{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: normal;
    height: 50px;
    margin-left: 10px;
}

.rowCard {
    display: flex;
    background: #ffffff;
    flex-direction: row;
    white-space: normal;
}


.rowCard p {
    white-space: normal;
    padding: 9px;
}
.contentComments {
    margin-bottom: 100px;
}

.commentField {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 20px auto;
}

.headerComment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 60px;
}

.footer {
    height: 100px;
}

.rowCard {
    display: flex;
    white-space: normal;
}


.rowCard p {
    white-space: normal;
    padding: 0 29px;
}


.imgPost {
    background: #ffffff;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
    padding: 10px;
    border-radius: 13px;
}


.columnText {
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}

.columnText p {
    font-weight: bold;
}


.postInterest {
    float: right;
    background: #24292f;
    color: white;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 999px;
    margin-right: 10px;
    letter-spacing: .1rem;
}

.userImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 999px;
}

.btnComment {
    background: #dae0e6;
    padding: 5px 10px;
    margin: 10px;
    color: #7e8996;
    border-radius: 999px;
    border: none;
    font-size: 13px;
}

.btnComment:hover {
    background: #d1d8dc;
}

.btnComment img {
    width: 19px;
    filter: invert(0.5);
}


.textContent {
    display: flex;
    flex-direction: row;
    width: 96%;
    margin: auto;
}

.emptyStick {
    background: #edeff1;
    height: auto;
    width: 3px;
}

.emptyStick:hover {
    background: #dcdee0;
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin: 10px auto;
    width: 91%;
}

.point {
    margin: 3px;
}