@using Forum.Services
@using Forum.MongoDB
@using System.IO
@inject Forum.MongoDB.UserDbConnection userConnect
@inject PostService postService
@inject NavigationManager _navigationManager

<div class="cardCreate">
    <div class="types">
        <button>Post</button>
        <InputFile OnChange="@OnSubmit" class="btnDb" multiple/>
        <button>Link</button>
    </div>
    
    <div class="box">
        <div class="tools">
            <button>Bold</button> 
            <button>Cursive</button> 
            <button>Heading</button> 
            <button>Link</button> 
        </div>
        <div class="inputField">
            <label class="control-label">Message</label>
            <textarea rows="4" value="@EmailMessage" @onchange="@((args) => EmailMessage = args.Value.ToString())"></textarea>
        </div>
         
       
    </div>
   
    <div class="card_img">
     @if (fileName != null || fileName != "") 
     {
         <img src="imgCreate/@fileName" alt="img"/>
     }
        @* @while (true) *@
        @* { *@
        @*     @if (fileName != null || fileName != "") *@
        @*     { *@
        @*         <img src="imgCreate/@fileName" alt="img"/> *@
        @*     } *@
        @*     //    @DataUpdating *@
        @* } *@

    </div>
    
    <div class="bottom">
        <button @onclick="@CreateNewPost">Create</button>
    </div>
</div>

@code {

    string? path;
    static string? fileName;
    List<string> names = new List<string>();
    List<IBrowserFile> _loadedFiles = new();
    List<String> loadImgNames = new List<string>();
    
    private String edImgName = "";
    
    List<String> imgNames = FileSystemService.GetNamesOfDir();

    protected override void OnInitialized()
    {
        FileSystemService sService = new FileSystemService();
    //sService.UploadImageToDb();
        loadImgNames = sService.DownloadToLocal();
        
        imgNames = FileSystemService.GetNamesOfDir();
        GetNamesOfDir();
        DataUpdating();
    }
    
    
    public async Task DataUpdating()
    {
      
        await Task.Delay(5000);
    _navigationManager.NavigateTo("profile");
    }
    

    public static void GetNamesOfDir()
    {
    // String path = "C:/Users/Petov/source/repos/BlazorPMLabsUnits/BlazorPMLabsUnits/wwwroot/imgSource/";
        String path = $"{Directory.CreateDirectory(Directory.GetCurrentDirectory() + "/wwwroot/imgCreate/")}";
        path = path.Replace("/", @"\");
        DirectoryInfo info = new DirectoryInfo($"{path}");

        List<String> listNames = new List<string>();

        
            foreach (var item in info.GetFiles())
            {
                listNames.Add(item.Name);
            }
            
            
        
        if (listNames.Count > 1)
        {
            RemoveFolder();
        }
        if (listNames.Count == 1)
        {
            fileName = listNames[0].ToString();
            
        }
    }


    void CreateNewPost()
    {
        Post post = new Post();
        // post.Username = "user" + RandomGeneratorId.GetRndNumber();
        post.Username = userConnect.isLoginUser.Username;
        post.Comments = new List<Comment>();
        post.Rating = 234;
        post.Text = emailMessage.ToString();
        post.CreatePost = DateTime.Now;
        post.Likes = new List<string>();

        postService.AddPost(post);
        
        PostDbConnection.AddToDatabase(post);

        StateHasChanged();
    }
    
    private string emailMessage = "";
    
    public string EmailMessage
    {
        get =>  emailMessage;
        set
        {
            if (emailMessage != value)
            {
                emailMessage = ((MarkupString)value).ToString();
            }
        }
    }

   

    private async void OnSubmit(InputFileChangeEventArgs e)
    {
        try
        {
            RemoveFolder();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            throw;
        }
      
        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            try
            {
                fileName = file.Name;
                Stream stream = file.OpenReadStream();
                var path = $"{Directory.CreateDirectory(Directory.GetCurrentDirectory() + "/wwwroot/imgCreate/")}{file.Name}";
                FileStream fs = File.Create(path);
                await stream.CopyToAsync(fs);
                stream.Close();
                fs.Close();
                StateHasChanged();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                throw;
            }
            
           
        }
     
  
      //  StateHasChanged();
    }
    
    public static void DeleteImgLocal(String name)
    {
    // String path = $"C:/Users/Petov/source/repos/BlazorPMLabsUnits/BlazorPMLabsUnits/wwwroot/imgSource/{name}";
        String path = $"{Directory.CreateDirectory(Directory.GetCurrentDirectory() + "/wwwroot/imgCreate/")}{name}";
           
        FileInfo file = new FileInfo(path);
        file.Delete();
    }

    public static void RemoveFolder()
    {
        String path = $"{Directory.CreateDirectory(Directory.GetCurrentDirectory() + "/wwwroot/imgCreate/")}";
        DirectoryInfo dirInfo = new DirectoryInfo(path);
 
        foreach (FileInfo f in dirInfo.GetFiles())
        {
            f.Delete();
        }
    }

    // private async Task LoadFiles(InputFileChangeEventArgs e)
    // {
    //     _loadedFiles.Clear();
    //     foreach (var file in e.GetMultipleFiles(e.FileCount))
    //     {
    //         _loadedFiles.Add(file);
    //         Stream stream = file.OpenReadStream();
    //         
    //         await FileSystemService.UploadImageToDbAsync(stream, file.Name);
    //         stream.Dispose();
    //     }
    // // LoadNames();
    //     FileSystemService sService = new FileSystemService();
    //     loadImgNames = sService.DownloadToLocal();
    //     imgNames = FileSystemService.GetNamesOfDir();
    // }  
    //
    
    
}