@using Forum.Services
@using Forum.MongoDB
@inject Forum.MongoDB.UserDbConnection userConnect
@inject PostService postService

<div class="cardCreate">
    <div class="types">
        <button>Post</button>
        <button>Image</button>
        <button>Link</button>
    </div>
    
    <div class="box">
        <div class="tools">
            <button>Bold</button> 
            <button>Cursive</button> 
            <button>Heading</button> 
            <button>Link</button> 
        </div>
        <div class="inputField">
            <label class="control-label">Message</label>
            <textarea rows="4" value="@EmailMessage" @onchange="@((args) => EmailMessage = args.Value.ToString())"></textarea>
        </div>
    </div>
    
    <div class="bottom">
        <button @onclick="@CreateNewPost">Create</button>
    </div>
</div>

@code {


    
    void CreateNewPost()
    {
        Post post = new Post();
        // post.Username = "user" + RandomGeneratorId.GetRndNumber();
        post.Username = userConnect.isLoginUser.Username;
        post.Comments = new List<Comment>();
        post.Rating = 234;
        post.Text = emailMessage.ToString();
        post.CreatePost = DateTime.Now;
        post.Likes = new List<string>();

        postService.AddPost(post);
        
        PostDbConnection.AddToDatabase(post);

        StateHasChanged();
    }
    
    private string emailMessage = "";
    
    public string EmailMessage
    {
        get =>  emailMessage;
        set
        {
            if (emailMessage != value)
            {
                emailMessage = ((MarkupString)value).ToString();
            }
        }
    }
}