<div class="card">
    <div class="types">
        <button>Post</button>
        <button>Image</button>
        <button>Link</button>
    </div>
    
    <div>
        <div class="tools">
            <p>Bold</p> 
            <p>Cursive</p> 
            <p>Heading</p> 
            <p>Link</p> 
        </div>
        <div>
            <button>Create</button>
        </div>
    </div>
    
    
    
</div>

@code {
    
}