@using Forum.Services
@using Forum.MongoDB
@inject UserDbConnection UserDbConnection

<div class="box">
    <div class="box1">
        <div class="inputField">
            <label class="control-label">Comment as Username</label>
            <textarea rows="4" placeholder="What are your thoughts?" value="@text" @onchange="@((args) => EmailMessage = args.Value.ToString())"></textarea>
        </div>
        <div class="box2">
            <button @onclick="@AddComment">Comment</button>
        </div>
    </div>
</div>

@code {
    private string text = "";

    [Parameter]
    public Post CurrentPost { get; set; }

    public string EmailMessage
    {
        get =>  text;
        set
        {
            if (text != value)
            {
                text = ((MarkupString)value).ToString();
            }
        }
    }

    [Parameter]
    public Action<String> onDataChanged { get; set; }

    void AddComment()
    {
        Comment comment = new Comment();
        comment.Username = UserDbConnection.isLoginUser.Username;
        comment.Rating = 1;
        comment.CreateComment = DateTime.Now;
        comment.Text = text;
        CurrentPost.Comments.Add(comment);
        
        PostDbConnection.UpdatePost(CurrentPost);
        text = "";
        
        onDataChanged?.Invoke(text);
        StateHasChanged();
    }
}