*{
    padding: 0;
    height: 0;
}

.cardCreate {
    display: flex;
    flex-direction: column;
    height: 700px;
    background: #43968a;
}


.types{
    position: relative;
    display: flex;
    flex-direction: row;
    background: #acc1e5;
    height: 50px;
}

.types button{
    height: 100%;
    width: 150px;
    padding: 10px;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    background: chartreuse;
    height: 300px;
    width: 100%;
    word-break: break-all;
    padding: 10px;
    
}

.tools {
    position: relative;
    display: flex;
    flex-direction: row;
    background: #d7e8f1;
    height: 40px;
    width: 100%;
}

.tools button{
    height: 100%;
    width: 50px;
    padding: 3px;
    font: 8px Arial;
}


.box textarea {
    width: 100%;
    height: 200px;
    resize: none;
}




.inputField {
    position: relative;
    height: 100%;
}




.card_img {
    display: block;
    background: #0dcaf0;
    width:100%;
    height: 77%;
    object-fit: contain;
}

.card_img  img {
     background: yellow;
    width:100%;
    height:100%;
     object-fit: contain;
}

/*.card_img {*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: contain;*/
/*    background: #eab7b7;*/
/*    text-align: center;*/
/*    border-radius: 10px;*/
/*}*/

/*.card_img img {*/
/*    position: center;*/
/*    width: 95%;*/
/*    height: 95%;*/
/*    margin-top: 3%;*/
/*    margin-bottom: 3%;*/
/*    background-size: cover;*/
/*    object-fit: contain;*/
/*    border-radius: 3px;*/
/*}*/


.bottom{
    position: relative;
    background: #0a53be;
    height: 40px;
}

.bottom button {
    height: 100%;
    width: 100px;
}