.card {
    /*position: fixed;*/
    /*bottom: 200px;*/
    /*margin: auto;*/
    
    opacity: 1;
    animation: ani 5.5s forwards;
}

/*@keyframes ani {*/
/*    0% {opacity: 0;}*/
/*    30% {opacity: 1;}*/
/*    40% {opacity: 1;}*/
/*    50% {opacity: 1;}*/
/*    60% {opacity: 1;}*/
/*    100% {opacity: 0;}*/
/*}*/