
<element style=@myStyle></element>

<button style=@myStyle class="btn btn-primary" data-count="" @onclick="MyMethod">
    <p class="title">@Title</p>
        <p class="text">@Text</p>
</button>

@code {
    String oldValue;
    string myStyle;
    
    [Parameter]
    public bool isHidden { get; set; }
    
    [Parameter]
    public String Title { get; set; }
    
    [Parameter]
    public String Text { get; set; }
    
    private Animate myAnim;

    private void RunAnimation()
    {
        myAnim.Run();
    }

    protected override void OnInitialized()
    {
        Text = "изменен!!!";
    }

    void MyMethod()
    {
        if (isHidden)
        {
            
        }
        myStyle = "visibility: hidden";
    }
}