
button:before {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    content: attr(data-count);
    right: -0.75em;
    top: -0.75em;
    background-color: #dd7973;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}


button[data-count=""]:before {
  
    animation: animate 5s;
}



@keyframes animate {
    0% {opacity: 0;}
    30% {opacity: 1;}
    40% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: 0;}
}