
<div class="menu">
    <div class="box1">
        <div>
            <p>icon</p>    
        </div>
    </div>
    
    <div class="box2">
        <p>Search</p>
    </div>
    
    <div class="box3">
        <p>Sign in</p>
    </div>
    
    
</div>


@code {
    
}