
<div class="menu">
    <div class="box1">
        <div>
            <p>icon</p>    
        </div>
    </div>
    
    <div class="box2">
        <p>Search</p>
    </div>
    
    <div class="box3">
        <button onclick="@SignInClick">Sign in</button> 
    </div>
</div>

<div hidden="@isClickSign">
    <Authorization IsActiveCard="@isClickSign"/> 
</div>


@code {
    bool isClickSign = true;
    
    void SignInClick()
    {
        if (isClickSign)
        {
            isClickSign = false;
        }
        else
        {
            isClickSign = true;
        }
    }
}