* {
    margin: 0;
    padding: 0;
    color: #24292f;
}
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    margin:  auto;
    z-index: 10;
    background: #24292f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}

.box1 {
    display: flex;
    flex-direction: row;
    margin: 10px;
}



/* search */

.box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #24292f;
    border: solid white 2px;
    border-radius: 999px;
    height: 40px;
    width: 250px;
}

.box2 span {
    color: white;
    margin: 10px;
}

.box2 span:last-child {
    color: #24292f;
    margin: 10px;
}

.box2 p{
    color: white;
}


/* sign elements */

.box3 {
    margin: 10px;
}

.btnSign{
    background: white;
    border: solid #24292f 2px;
    color: #24292f;
    border-radius: 999px;
    padding: 5px 20px
}

.userImg {
    width: 35px;
    height: 35px;
    margin: 20px;
    border-radius: 999px;
}


.text-box a{
    color: white;
    margin-left: 20px;
}


/* btn HOME */

.btnHeader {
    color: white;
    text-decoration: none;
}

.btn-12 {
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
}

.btn-12:before {
    content: "";
    position: absolute;
    width: 0;
    background : #fff;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
}

.btn-12:hover:before {
    width: 100%;
    left:0;
}
