* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    width: 280px;
    height: 100vh;
    background: lightpink;
}

.section {
    margin: 1vh 0;
    width: 100%;
}

.rowNav {
    display: flex;
    flex-direction: row;
    background: lightgray;
    align-items: center;
    height: 5vh;
    margin: 1vh 0;
    width: 100%;
}
