* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
    width: 280px;
    height: 100vh;
    background: lightpink;
    overflow-y: scroll; 
}

.navbar::-webkit-scrollbar {
    width: 12px;
}

.navbar::-webkit-scrollbar-track {
    background: #fcfcfc;
}

.navbar::-webkit-scrollbar-thumb {
    background-color: #bcbcc5;
    border-radius: 20px;
    border: 3px solid #bcbcc5;
}


.section {
    margin: 1vh 0;
    width: 100%;
}

.rowNav {
    display: flex;
    flex-direction: row;
    background: lightgray;
    align-items: center;
    height: 5vh;
    margin: 1vh 0;
    width: 100%;
}
