@using Forum.Services
@inject BehaviourService BehaviourService

<div class="navbar">
    
    <div class="section">
        <p>FEEDS</p>
        <div class="rowNav">
            <span class="oi oi-dollar" aria-hidden="true"></span>
            <p>Text</p>
            <button @onclick="() => Sort(str)">str</button>
            @* <button @onclick="()=> @Sort("Finance")">Finance</button> *@
            
        </div>
        
        <div class="rowNav">
            <span class="oi oi-dollar" aria-hidden="true"></span>
            <p>Text</p>
        </div>
        
    </div>
    
    
    <div class="section">
        
        <p>TOPICS</p>
        
        <div class="rowNav">
            <span class="oi oi-dollar" aria-hidden="true"></span>
            <p>Text</p>
        </div>
        
        
        <div class="rowNav">
            <span class="oi oi-dollar" aria-hidden="true"></span>
            <p>Text</p>
        </div>

        <div class="rowNav">
            <span class="oi oi-dollar" aria-hidden="true"></span>
            <p>Text</p>
        </div>

        <div class="rowNav">
            <span class="oi oi-dollar" aria-hidden="true"></span>
            <p>Text</p>
        </div>

        <div class="rowNav">
            <span class="oi oi-dollar" aria-hidden="true"></span>
            <p>Text</p>
        </div>

        <div class="rowNav">
            <span class="oi oi-dollar" aria-hidden="true"></span>
            <p>Text</p>
        </div>
    </div>
    
    
    
</div>
 

@code {
    String str = "Finance";
    void Sort(String nameInterest)
    {
        BehaviourService.SelectInterest = nameInterest;
    }

}