* {
    margin: 0;
    padding: 0;
    color: #24292f;
}

.content {
    position: relative;
    width: 40vw;
    margin-top: 10px;
}


.sortBox {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: white;
    height: 60px;

    border: solid #c9c9c9 1px;
    border-radius: 7px;
}

.cardNotFound {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: #99a6bd;
    height: 180px;   
    border-radius: 7px;
}

.cardNotFound p {
    color: white;
}

span u {
    color: #ffffff;
    font-weight: bold;
}

.btnSort {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 999px;
    border: none;
    background: none;
}

.btnSort:hover {
    background: #f8f9fa;
}

.btnSort img {
    margin-right: 5px;
    width: 20px;
    /*filter: invert(0.5);*/
}

.postCard {
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    
    margin: 10px 0;
    white-space: normal;
    border-radius: 7px;
    border: solid #c9c9c9 1px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 7px 0 0 7px;
    background: #f8f9fa; 
    width: 40px;
}

.btnLike {
    background: #f8f9fa;
    border: none;
}

.btnLike img {
    width: 20px;
    border: none;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #ffffff;
    width: 100%;
    border-radius: 0 7px 7px 0;
}


.rowCard1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: normal;
    border-radius: 0 7px 0 0;
    
    height: 50px
}

.rowCard1 .side1{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: normal;
    border-radius: 0 7px 0 0;
    height: 50px
}

.rowCard {
    display: flex;
    background: #ffffff;
    flex-direction: row;
    margin: 1vh 0;
    white-space: normal;
}


.rowCard p {
    white-space: normal;
    padding: 9px;
}

.imgPost {
    background: #ffffff;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
    padding: 10px;
    border-radius: 13px;
}

.columnText {
    display:flex;
    flex-direction: column;
    padding-left: 5px;
}

.columnText p:first-child {
    font-weight: bold
}

.columnText p:last-child {
    font-size: 13px;
    color: #7e8996;
}

.columnText p:last-child span{
    font-size: 13px;
    color: #606060;
    font-weight: bold;
}

.postInterest {
    float: right;
    background: #24292f;
    color: white;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 999px;
    margin-right: 10px;
    letter-spacing: .1rem;
}

.userImg {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 999px;
}

.btnComment {
    background: #dae0e6;
    padding: 5px 10px;
    margin: 0 10px;
    color: #7e8996;
    border-radius: 999px;
    border: none;
    font-size: 13px;
}

.btnComment:hover {
    background: #d1d8dc; 
}

.btnComment img {
    width: 19px;
    filter: invert(0.5);
}

