* {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    width: 40vw;
    position: relative;
    background: #d54ffd;
    margin-top: 10px;
}


.postCard {
    display: flex;
    flex-direction: row;
    background: cadetblue;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    white-space: normal;
    
}

.leftSide {
    display: flex;
    flex-direction: column;
    background: lightpink;
    width: 40px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: lightgrey;
    width: 100%;
    margin: 0 0 0 5px;
}


.rowCard {
    display: flex;
    background: lightsteelblue;
    flex-direction: row;
    margin: 1vh 0;
   white-space: normal;
}

.rowCard p {
    white-space: normal;
}