<div class="cardProfile">
    
    @if (CrntUser != null)
    {
        <div class="boxTop">
            <div class="imageUser">
                <img alt="image"/>
            </div>
        </div>
    
        <div class="boxEnd">
            <h3>@CrntUser.Username.ToString()</h3>
        
            <div class="cardRow">
                <p>Id:  </p>
                <p>@CrntUser._id.ToString()</p>
            </div>

            <div class="cardRow">
                <p>First Email:  </p>
                <p>@CrntUser.Email</p>
            </div>
        </div> 
    }
</div>

@code {
    [Parameter]
    public User CrntUser { get; set; }
}