<div class="cardProfile">
    
    <div class="boxTop">
        <div class="imageUser">
            <img alt="image"/>
        </div>
    </div>
    
    <div class="boxEnd">
            <h3>Username</h3>
        
        <div class="cardRow">
            <p>Id:  </p>
            <p>#712323</p>
        </div>

        <div class="cardRow">
            <p>First Name:  </p>
            <p>FName</p>
        </div>

        <div class="cardRow">
            <p>Last Name: </p>
            <p>LName</p>
        </div>

        <div class="cardRow">
            <p>Email: </p>
            <p>email@test.com</p>
        </div>
    </div>
</div>

@code {
    
}